@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
   --font-sans: 'Poppins', sans-serif;
  --color-primary: #f85605;
  --color-menubg: #f85605;
  --color-menucolor: #fff085;
  --color-bodycolor: #F5F6F7;
  --color-menuhover: oklch(90.5% 0.182 98.111);
  --color-hovercolor: #ff0000;
  --color-buttonbg: #ff0000;
  --color-buttonhoverbg: #ff0000;
  --color-btndangerbg: #ff0018;
  --color-btndangerhoverbg: #bb2d3b;
  --color-headingprimary: #17181c;
  --color-headingcolor: #212529;
  --color-border: #eee;
  --color-bordersecondary: #ced4da;
}

body {
  font-family: 'Poppins', sans-serif;
}

.gradient-text {
    background-image: linear-gradient(to right, #ec4899, #eab308);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.2rem;
    font-weight: 600;
}